body {
    header {
        .container {
            #top_menu {
                .nav-item {
                    padding: 3px 10px;
                    .nav-link  {
                        text-transform: uppercase;
                        font-weight: 600;
                    }
                    &.divider {
                        display: none;
                    }
                    a[href="/web/login"] {
                        display: none;
                    }
                    .xl-small {
                        padding: 10px 22px;
                        font-size: 12px;
                    }
                }
                .js_language_selector {
                    order: -1;
                    .d-none.d-sm-block {
                        display: none !important;
                    }
                    .dropup {
                        .dropdown-toggle {
                            border: 0;
                            padding: 10px 9px;
                            margin-top: 3px;
                            font-size: 0;
                            background: #20418f;
                            &:hover, &:active, &:focus {
                                background-color: darken(#20418f,5) !important;
                            }
                            &:before {
                                content: '\f0ac';
                                display: block;
                                font: normal normal normal 14px/1 FontAwesome;
                                font-size: inherit;
                                text-rendering: auto;
                                -webkit-font-smoothing: antialiased;
                                -moz-osx-font-smoothing: grayscale;
                                font-size: 17px;
                                margin: auto;
                            }
                        }
                        .dropdown-menu {
                            top: 100%;
                            bottom: auto;
                            margin-top: 5px;
                        }
                    }
                }
            }
        }
    }
    footer {
        .rb_footer {
            background-color: rgba(26,35,43,1);
            color:#8e959c;
        }
        .js_language_selector {
            .dropup {
                .dropdown-toggle {
                    border: 0;
                    padding: 10px 9px;
                    margin: 3px 5px 0 5px;
                    font-size: 0;
                    background: #20418f;
                    &:hover, &:active, &:focus {
                        background-color: darken(#20418f,5) !important;
                    }
                    &:before {
                        content: '\f0ac';
                        display: block;
                        font: normal normal normal 14px/1 FontAwesome;
                        font-size: inherit;
                        text-rendering: auto;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                        font-size: 17px;
                        margin: auto;
                    }
                }
            }
        }
    }
}